VITE_FIREBASE_API_KEY=AIzaSyC0S3tu38J1_VQKQ23C0EMvYIo9UA16zRc
VITE_FIREBASE_AUTH_DOMAIN=arene-des-esprits.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=arene-des-esprits
VITE_FIREBASE_STORAGE_BUCKET=arene-des-esprits.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=785508491217
VITE_FIREBASE_APP_ID=1:785508491217:web:af2c7ba1a4d3ff6b86caf0
VITE_ARENE_APP_ID=app_arena_v3
VITE_ADMIN_HASH=e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
